.execution__container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
  }
  .execution__box {
      display: flex;
      /* position: relative; */
      /* padding-top: 4rem; */
      /* padding-left: 15px; */
      border-bottom: 5px solid #eee;
  }
  .platnoe {
      background-color:#e9faeb;
  }
  